{
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "ignorePatterns": [
    "**/node_modules/**",
    "**/public/**",
    "**/actions/**"
  ],
  "extends": ["airbnb-base", "plugin:jest/recommended", "prettier"],
  "plugins": ["import", "jest", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "no-continue": 0
  },
  "env": {
    "node": true,
    "jest/globals": true
  }
}
